/*초기화 태그*/
*{padding: 0; margin: 0 ;}
a{text-decoration: none !important;}
ul li{list-style: none;}
img{border: 0;}
header, footer, section{box-sizing: border-box;}

.wrap{
    background-color: wheat;
}
/* 0~766px */
.header__nav{
    max-width: 1200px;
    background: lightseagreen;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.header__nav > h1{          /*로고 부분*/
    width: 100px;
    height: 120px;
}
.header__nav > nav{         /*메뉴소개 매장소개 이벤트 브랜드스토리*/
    width: calc(100%-100px);
    background: magenta;
    height: 120px;
}
.header__nav > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header__nav > .delivery-order{
    width: 168px;
}
section .con{
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}
.slider{
    height: 480px;

}
.slider__content{
    background-color: lightpink;
}
.youtube{
    height: 605px;
}
.youtube__content{
    background-color: lightblue;
}
.sns{
    height: 160px;
}
.sns__content{
    background-color: lightgreen;
}
.sns__content > ul{
    display: flex;
    flex-direction: row;
}
.sns__content > ul > li{
    flex: 1;/*비율 같게*/
    text-align: center;
}
.guide{
    height: 480px;
}
.guide__content{
    display: flex;
    flex-direction: column;
}
.guide__content > div{
    flex: 1;
    text-align: center; 
}
.guide__content > .content__app{
    background-color: aquamarine;
}
.guide__content > .content__delivery{
    background-color: blueviolet;
}
.store__content{
    height: 597;
}
.store__content{
    background-color: hotpink;
}
.store__content ul{
    overflow: hidden;   /*ul li에 float-left 줬기 때문에 지정*/
    width: 79.44%;      /* 1144 / 1440 * 100 */
    margin: 0 auto;
}
.store__content ul li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.banner{
    height: 200px;
}
.banner__content{
    background-color: lightsalmon;
}
.footer{
    height: 680px;
    background-color: skyblue;
}

/* 767~1023px*/
@media all and (min-width:767px){
    .guide__content{
        flex-direction: row;
    }
    .store__content ul li {
        width: 16.66%;
    }
}

/* 1024px 이상 */
@media all and (min-width:1024px){

}