*{
    margin: 0;
    padding: 0;
}
.board{
    width: 1000px;
    margin: 0 auto;
}
caption{
    font-size: 30px;
    margin: 20px;
}
table{
    border-collapse: collapse;
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: center;
    
}

table tr td{
    border-top: 1px solid #000;
    text-align: center;
}

thead tr{
    border-top: 1px solid #000;
    text-align: center;
}



.page_nav{
    display: flex;
    padding:5px;

}