@charset "utf-8";
/*초기화 속성*/
* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/*공동 버튼*/
.bt_wrap{                       /* 글쓰기 버튼 부분*/
    margin-top: 30px;           
    text-align: right;
}

.bt_wrap a{                     /* 글쓰기 버튼 부분*/
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding : 10px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center;
}

.bt_wrap a:hover{               /*글쓰기 버튼에 hover 했을 때*/
    text-decoration: underline;        /*underline 효과 주기*/
}

.board_page a.on{                  /*아래 페이지 번호 부분 1번*/
    background: #000;
    color: #fff;
}

/*index.html*/  
.wrap{                  /*전체 wrap*/
    width: 1000px;
    margin: 0 auto;     /*가운데 정렬*/
}

.board_list{            /*전체 보드*/
    width: 100%;
    border-top: 1px solid #444;     /*보드 윗부분에만 border*/
    border-collapse: collapse;        /*표 줄 한줄로*/
    font-size: 1.5rem;
}

.board_list caption{        /*표 캡션*/
    padding: 30px;          /*맨 위 자유게시판 패딩*/
}

.board_list th, td{
    /* border-spacing: 0;                    border-collapse:collapse 일 때는 적용 x */
    border-bottom: 1px solid #444;      /*표 내용 아래줄 border 주기*/
    padding: 10px;                        /*표 내용 패딩*/
    text-align: center;
}

.board_list td.title > a:hover{         /*표 제목부분 */
    text-decoration: underline;
}   

.bt_list{           /*글쓰기 버튼 부분*/
    /* text-align: right; */
}

.board_page{                /*하단 페이지 번호 영역*/
    margin-top: 30px;
    text-align: center;     /*화면 중앙으로 이동*/
    display: flex;
    justify-content: center;    /*걍 외워*/
}

.board_page a{              /*하단 페이지 번호*/
     display: inline-block;
    width: 32px;
    height: 32px;
    /* box-sizing: border-box; */
    /* border-left: 0; */
    line-height: 32px;
}

.board_page a:hover{
    text-decoration: underline;
}

.board_page a.bt{           /*좌우측 꺾쇠 부분*/
    font-size: 1.2rem;
    letter-spacing: -1px;   /*맨 바깥쪽 꺾쇠끼리 더 붙이기*/
}

.board_page a.num{          /*페이지 넘버 부분*/
    font-size: 1.4rem;
}

.board_page a.num.on{       /*페이지 넘버 1 부분*/
    border-color: #000;
    background: #000;
    color: #fff;
}

@media all and (max-width: 1000px){
    /*width가 768~1000px 일 때*/
    .wrap{
        width: 95vw;
    }
}
@media all and (max-width: 767px){
    /*width가 0~767px 일 때*/
    .wrap{
        width: 95vw;
    }

    .board_list th:nth-of-type(1),
    .board_list td:nth-of-type(1){
        display: none;
    }

    .board_list th:nth-of-type(3),
    .board_list td:nth-of-type(3){
        display: none;
    }

    .board_list th:nth-of-type(4),
    .board_list td:nth-of-type(4){
        display: none;
    }
}